/*
 * Copyright (c) 2025 9p4z Contributors
 * SPDX-License-Identifier: MIT
 */

/*
 * Device tree overlay for nRF7002 DK (nRF5340 application core)
 * Creates a storage partition for LittleFS on internal flash
 */

/ {
	fstab {
		compatible = "zephyr,fstab";

		/* BBS backing storage - managed by partition manager */
		lfs_bbs: lfs_bbs {
			compatible = "zephyr,fstab,littlefs";
			mount-point = "/lfs_bbs";
			partition = <&littlefs_storage_partition>;
			automount;
			read-size = <16>;
			prog-size = <16>;
			cache-size = <256>;
			lookahead-size = <16>;
			block-cycles = <512>;
		};
	};
};

/* Delete existing storage partition if present */
/delete-node/ &storage_partition;

/* Define littlefs_storage partition - address will be overridden by pm_static.yml */
&flash0 {
	partitions {
		littlefs_storage_partition: partition@d0000 {
			label = "littlefs_storage";
			reg = <0x000D0000 0x00020000>;  /* 128KB - will be managed by PM */
		};
	};
};
